.card {
  margin: 20px auto;
  width: 400px;
  border: 1px solid lightgrey;
  border-radius: 14px;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-img {
  width: 100%;
  border-radius: 14px;
}
.card-header {
  position: relative;
}

.promo-text {
  position: absolute;
  top: 0;
  height: 15px;
  margin: 10px;
  font-size: 12px;
  padding: 2px 4px;
  background-color: grey;
  color: white;
  border-radius: 3px;
}
.discount {
  position: absolute;
  bottom: 8px;
  background-color: rgb(74, 142, 215);
  padding: 2px 7px;
  color: white;
}

.time {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background-color: white;
  padding: 2px 7px;
  color: black;
}

.name {
  font-weight: 550;
  margin-bottom: -5px;
}

.desc {
  color: grey;
}

.footer {
  border-top: 1px solid lightgrey;
}

.footer-img {
  width: 70px;
  margin-top: 20px;
  margin-right: 10px; 
  padding: 5px;
  border-radius: 7px;
  float: left;
}

.footer p {
  overflow: hidden; 
  font-size: 18px; 
  color: grey;
}