/*
positions - to position anything on the canvas - for adjustments
4 kind of positions
static - default
fixed
sticky
absolute
relative
*/

.card{
  width: 270px;
  border-radius: 14px;
  border: 1px solid grey;
  padding: 10px;
  margin: 10px auto;
}

.card-img{
  width: 100%;
  border-radius: 14px;
}

.help{
  /** top left right bottom : distance from the direction*/
  position: fixed;
  right: 10px;
  bottom: 20px;
  background-color: black;
  color: white;
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
}

.ad{
  position: sticky;
  top: 0;
  width: 270px;
  background-color: orangered;
  color: white;
  border-radius: 14px;
  border: 1px solid orangered;
  padding: 10px;
  margin: 10px auto;
}
.title{
  margin-bottom: 0;
}

.small{
  margin-top: 0;
}

/**  
absolute:
- it moves 1 level top.
- we can move it where ever we want.
- it moves w.r.t screen size.
*/
.red{
  height: 160px;
  width: 160px;
  background-color: red;
}

.green{
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: green;
  top: 0;
}

.blue{
  height: 100px;
  width: 100px;
  background-color: blue;
}

/**  
relative:
- move the child element w.r.t to the parent
*/
.card-header{
  position: relative;
}

.tag{
  position: absolute;
  bottom: 0;
  background-color: rgb(238, 223, 173);
  color: rgb(85, 77, 12);
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 14px;
  margin: 12px;
}

.ratings{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(221, 238, 196);
  color: rgb(57, 130, 21);
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 14px;
  margin: 12px;
}